body
{
  background: linear-gradient(180deg, #E4C2FF, #FFFFFF);
  background-repeat: no-repeat;
}
.heading
{
  text-align: center;
}
.subHeading
{
  text-align: center;
  font-style: normal;
}
.todosHeading
{
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.listStyle
{
  list-style-type: none;
}
.listItem
{
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 16px;
  margin: 6px;
  box-shadow: 5px 5px #a1a1a145;
}